@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}
body::-webkit-scrollbar {
    width: 0.25em;
    background-color: black;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}

/* Navbar*/
.navbar {
   position: fixed;
   width: 100%;
   z-index: 999;
   padding: 30px 0;
   font-family: 'Ubuntu', sans-serif;
   transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background: #111;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    overflow: hidden; 
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white; 
}
.navbar .logo span {
    color: #007FFF;
    font-weight: 700;
}
.navbar li {
    float: left; 
}
.navbar .menu li a {
    display: block;
    color: white; 
    font-size: 18px;
    font-weight: 600;
    padding: 14px 16px;
    transition: color 0.3s ease;
}
.navbar .max-width li a:hover {
   color: #007FFF;
}

/* Menu */
.menu-btn {
    color: white;
    font-size: 21px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 47px;
    background: #007FFF;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Sections */
section {
    padding: 100px 0;
    line-height: 1.5;
}
section .column {
    padding: 100px 0;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #007FFF;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about, .skills, .contact, .projects, footer {
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.skills .skills-content,
.contact .contact-content,
.projects .project-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Home */
.home {
    background: url("img/background.jpg"); 
    background-size: cover;
    height: 115vh;
    padding: 50px; 
    text-align: center; 
    color: #f5f5f5
}
.home .avatar {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 20px;
}
.home .home-content .text-1 {
    font-size: 27px; 
}
.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3 ;
} 
.home .home-content .text-3 {
    font-size: 40px; 
    line-height: 1.5;
    color: #f5f5f5
}
.home .home-content .text-3 span {
    color: #007FFF;
    font-weight: 600;
}
.home .home-content a{
    display: inline-block;
    background: #007FFF;
    font-size: 25px;
    color: white;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #007FFF;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    background: none;
    color: #007FFF;
}

/* About */
.about .title::after{
    content: "quem eu sou";
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border: #111 solid;
    border-radius: 6px;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .column {
    width: 50%;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
}
.about .about-content .right .text span {
    color: #007FFF;
}
.about .about-content .right p {
    text-align: justify;
    text-indent: 1.5em;
    margin-bottom: 1.5em;
}
.about .about-content .right a {
    display: inline-block;
    background: #007FFF;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #007FFF;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #007FFF;
    background: none;
}

/* Skills */
.skills{
    background: url("img/background.jpg"); 
    color: white;
}
.skills .title::before{
    background: #fff;
}
.skills .title::after{
    content: "o que eu sei";
    background: black;
}
.skills .github{
    display: flex;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 0;
    justify-content: center;
}
.skills .skills-content .column {
    width: calc(50% - 30px);
}
.skills .skills-content .left .excerpt .hidden {
    display: none;
}
.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p {
    text-align: justify;
}
.skills .skills-content .left a {
    display: inline-block;
    background: #007FFF;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #007FFF;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #007FFF;
    background: none;
}
.skills .skills-content .right .bars {
    margin-bottom: 15px;
}
.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span {
    font-weight: 600;
    font-size: 18px;
}
.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: #007FFF;
}
.skills .skills-content .right .html::before {
    width: 80%;
}
.skills .skills-content .right .css::before {
    width: 70%;
}
.skills .skills-content .right .js::before {
    width: 50%;
}
.skills .skills-content .right .postgresql::before {
    width: 80%;
}
.skills .skills-content .right .delphi::before {
    width: 60%;
}
.skills .skills-content .right .python::before {
    width: 60%;
}


.projects .title::before{
    background: #000;
}
.projects .title::after{
    content: "O que eu já fiz";
} 
.projects .project-contents{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projects .project-box {
    width: 300px;
    height: 330px;
    margin: 20px ;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.projects .project-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.projects .project-box img {
    display: block;
    width: 270px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.projects .project-box h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}
.projects .project-box p {
    font-size: 16px;
    text-align: justify;
}
   

/* Contact*/
.contact{
    background: url("img/background.jpg"); 
    color: white;
}
.contact .title::before{
    background: #fff;
}
.contact .title::after{
    content: "entrar em contato";
    background: black;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
    margin-bottom: 15px;
}
.contact .contact-content .left .icon {
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #007FFF;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: gray;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    resize: none;
    padding-top: 10px;  
}
.contact .right form .button {
    height: 47px;
    width: 170px;
}
.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #007FFF;
    background:#007FFF;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    background: none;
    color: #007FFF;
}

/* footer */
footer{
    background: black;
    padding: 20px 23px;
    color: #fff;
}
footer span a {
    color: #007FFF;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media (max-width: 1300px) {
    .home {
        margin-left: 0px;
    }
}
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li{
        float: initial;
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px; 
    }
    .home .home-content .text-2 {
        font-size: 70px;
    } 
    .home .home-content .text-3 {
        font-size: 35px; 
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        padding: 25px;
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto ;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        padding: 25px;
        width: 100%;
    }
    .contact .title::after{
        font-size: 18px;
    }
    .projects .project-box{
        width: 250px;
    }
    .projects .project-box img{
        width: 220px;
    }
}
@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    } 
    .home .home-content .text-3 {
        font-size: 32px; 
    }
    .home .home-content a{
        font-size: 20px;
    }
    .skills .skills-content .column{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    } 
    .home .home-content .text-3 {
        font-size: 27px; 
    }
}


