* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/* Navbar*/
.bar {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    background-color: black;
    color: white; 
    
}

.navbar .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-contents {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    overflow: hidden; 
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white; 
}

.navbar li {
    float: left; 
}

.navbar li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none; 
}
.navbar li a:hover {
    background-color: gray;
}

/* Home */
.home {
    background: url("img/background.jpg"); 
    background-size: cover;
    height: 100vh;
    padding: 50px; 
    text-align: center; 
    color: #f5f5f5
}

.avatar {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 10px;
}

.text-1 {
    font-size: 27px; 
}

.text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3 ;
} 
.text-3 {
    font-size: 30px; 
    line-height: 1.5;
    color: #f5f5f5
}
